.block { padding: 0px;  margin-bottom:40px; }
.block .block-header-conteiner{overflow:hidden; padding:0 0 0 15px; margin:0 0 0 -15px;}
.rss{display:inline-block; width:12px; height:12px; background:url(../images/rss-ico.png) 0 0 no-repeat; margin:0 3px; border:none !important;}
.block .block-header-conteiner h2{width:100%; padding:0 0 0 15px; float:right; background:url(../images/gray-dot.png) 0 50% repeat-x;}
.block .block-header-conteiner h2 span{color:#000; background:#fff; padding:0 4px; margin:0 0 0 -4px;}
.block h2 { font-size: 18px; font-family:'PT Sans', 'helvetica neue', arial, sans-serif; font-weight:bold; margin-bottom:6px;}
.block.nostyle { background: none; margin: 0px 0 40px 0; border: none; box-shadow: none;}

.block .bottom {/* padding-top: 5px; */font-size: 12px; text-align: center; background:url(../images/gray-dot.png) 0 50% repeat-x;}
.block .bottom a { background:#fff; padding:0 5px;}

.block .stream-settings-userlist ul, 
.block .stream-settings-friends,
.block .stream-settings-blogs { overflow: auto; max-height: 200px; _height: expression( this.scrollHeight > 200 ? "200px" : "auto" ); position: relative; }

/* Contacts */
.block.contacts img {}
.block.contacts ul { margin-top: 5px; }
.block.contacts ul li { padding: 3px 0 3px 25px; }
.block.contacts ul li.icq { background: url(../images/icons-contacts.gif) no-repeat scroll 0px 2px; }
.block.contacts ul li.jabber { background: url(../images/icons-contacts.gif) no-repeat scroll 0px -23px; }
.block.contacts ul li.skype { background: url(../images/icons-contacts.gif) no-repeat scroll 0px -47px; margin-bottom: 10px; }
.block.contacts ul li.lj { background: url(../images/icons-contacts.gif) no-repeat scroll 0px -73px; }
.block.contacts ul li.vk { background: url(../images/icons-contacts.gif) no-repeat scroll 0px -99px; margin-bottom: 10px; }
.block.contacts ul li.email { background: url(../images/icons-contacts.gif) no-repeat scroll 0px -122px; }
.block.contacts ul li.phone { background: url(../images/icons-contacts.gif) no-repeat scroll 0px -145px; }

/* Stream */
.block.stream ul.list { /*border-top: 1px solid #eee; font-size: 11px; line-height: 16px; color: #999;*/ }
.block.stream ul.list li {overflow:hidden; margin:15px 0 10px 0; font-size:13px; line-height:1.4em;}
.block.stream ul.list li:first-child{margin-top:0px;}
.block.stream ul.list li .user {color: #0073a5; text-decoration: none; background:none; padding:0px;}
.block.stream ul.list li .user:hover{ color:#1cacea; border-color:#1cacea !important;}
.block.stream ul.list li .topic-title { background:none; padding:0px; }
.block.stream ul.list li .blog-title { color: #818181; text-decoration:none; font-size:10px; text-transform:uppercase; font-weight:bold; font-family:'PT Sans', 'helvetica neue', arial, sans-serif;}
.block.stream ul.list li .blog-title:hover{color:#1cacea;}
.block.stream ul.list li .stream-comment-icon { background: url(../images/icons.gif) no-repeat 0 -146px; padding-left: 12px; zoom: 1; }
.block.stream ul.list li .stream-topic-icon { background: url(../images/icons.gif) no-repeat 0 -188px; padding-left: 12px; zoom: 1; }
.block.stream ul.list li span {}
.block.stream ul.list li.even { /*background: #F8F8F8; */}
.block.stream ul.list .stream-user-ico img{float:left; margin:0 6px 0 0;}
.block.stream ul.list .overflow{overflow:hidden;}
.block.stream ul.list .stream-item-bottom{}
.block.stream .stream-item-bottom .stream-comments{ color:#0073a5; overflow:hidden; font-size:11px;}
.block.stream .stream-item-bottom .comments-counter-ico{display:block; margin:2px 1px 0 0; width:18px; height:16px; display:block; background:url(../images/info-icons.png) 0 0 no-repeat; float:left;}
.block.stream .stream-item-bottom .stream-comments a{text-decoration:none;display:inline-block;}
.block.stream .stream-item-bottom .stream-comments a:active{background:#fff !important;}
*+ html.block.stream .stream-item-bottom .stream-comments a{display:inline; zoom:1;}


/* Top Blogs */
.block.blogs ul.list {font:normal 12px/14px 'PT Sans', 'Helvetica Neue', arial, sans-serif; margin:-5px 0 10px 0;}
.block.blogs ul.list li:first-child{border:none; padding-top:0px;}
.block.blogs ul.list li { padding: 5px 0 5px; border-top: 1px solid #efefef; overflow: hidden; zoom: 1; }
.block.blogs ul.list li a { color: #818181; text-transform:uppercase; text-decoration:none; font-weight:bold;}
.block.blogs ul.list li a:hover{color:#1cacea;}
.block.blogs ul.list li img { vertical-align: top; }
.block.blogs ul.list li .rating { float: right; font-weight: bold; margin-left: 10px; font-family:'PT Sans', 'Helvetica Neue', arial, sans-serif; color:#000;}

/* Tags */
.block.tags { /*background: #F7F8F9; box-shadow: none; border-color: #EAEBEB;*/ }
.block.tags a{ color:#818181; }

.block .cloud { text-align: center; }
.block .cloud li { display: inline; margin-right: 5px; line-height: 22px; }
.block .cloud li a { text-decoration: none; white-space: nowrap; color: #8B8B8B; }
.block .cloud li a:hover { color:#1cacea;}
.block .cloud li a.w1 { font-size: 12px; }
.block .cloud li a.w2 { font-size: 12px; }
.block .cloud li a.w3 { font-size: 14px; }
.block .cloud li a.w4 { font-size: 14px; }
.block .cloud li a.w5 { font-size: 18px; }
.block .cloud li a.w6 { font-size: 18px; }
.block .cloud li a.w7 { font-size: 20px; }
.block .cloud li a.w8 { font-size: 20px; }
.block .cloud li a.w9 { font-size: 22px; }
.block .cloud li a.w10 { font-size: 22px; }

/* Stream Settings */
.block.stream-settings h2 { margin-bottom: 7px; }
.block.stream-settings h3 { margin-bottom: 7px; }
.block.stream-settings p.note { margin-bottom: 15px; color: #aaa; }
.block.stream-settings input.input-checkbox { position: relative; top: 2px; margin: 0 2px 0 1px; }
.block.stream-settings ul li { padding-bottom: 5px; }
.block.stream-settings .stream-settings-filter { padding-bottom: 15px; margin: 0 0 15px 0; border-bottom: 1px solid #ddd; }
.block.stream-settings .stream-settings-userlist { padding-bottom: 15px; margin: 0 0 15px 0; border-bottom: 1px solid #ddd; }
.block.stream-settings .stream-settings-userlist p { margin-bottom: 10px; }
.block.stream-settings .stream-settings-userlist p input { border: 1px solid #ccc; padding: 3px; margin-right: 5px; }
.block.stream-settings .stream-settings-userlist p a { border-bottom: 1px dashed #70AAE0; text-decoration: none; }
.block.stream-settings .stream-settings-userlist p a:hover { color: #555; border-color: #555; }
.block.stream-settings .stream-settings-userlist li { padding-bottom: 5px; }


/*Stats*/
.stats-all{color:#000;}
.stats-active{color:#2cb816;}
.stats-noactive{color:#999999;}

.stats-sex-mail{color:#2f86d7;}
.stats-sex-woman{color:#e21fa4;}
.stats-sex-other{color:#999999}


.diagram{width:100%; text-align:center; margin:0 0 20px 0;}

