body{}
#profile_actions li{
	background:#cbcbcb url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2ZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDpBM0I4MjlDQTUzQjRFMDExQkI0NUIwRkY1M0RFNjdGOSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo0MDI2MDM5NEYwRDQxMUUwQTU0QTg4MUVBMUNFRDZFNCIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo0MDI2MDM5M0YwRDQxMUUwQTU0QTg4MUVBMUNFRDZFNCIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1LjEgV2luZG93cyI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjU1MkJDRTgxRTNCOUUwMTFCNkU3RDU3NzEyOTZDNzA1IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkEzQjgyOUNBNTNCNEUwMTFCQjQ1QjBGRjUzREU2N0Y5Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+a4+4awAAACVJREFUeNpiePjwIRMDAwPT////4TQMo/NB+N+/f1hpNDZAgAEAtco4jNGf3LAAAAAASUVORK5CYII=) 0 0 repeat-x;
	filter: none !important;
	}
.join:hover{
	background:url(../images/gray-btn-spr.png) 0 0 repeat-x;
	filter: none !important;
	}
#nav-inner .auth .login-link{
	background:url(../images/green-btn-spr.png) 0 0 repeat-x;
	height:21px;
	filter: none !important;
	outline:none;
	}
#nav-inner .auth .registration-link{
	background:#6e7d86 url(../images/reg-gr.png) 0 0 repeat-x;
	}
#nav-inner .auth .login-link:hover{
	background-position:0 -21px;
	filter: none !important;
	}
#nav-inner .auth .login-link:active{
	background-position:0 -42px;
	filter: none !important;
	}
*+ html .button{height:21px; line-height:21px; padding:0px;}
*+ html .button.big-button{height:29px; line-height:29px; padding:0px;}
*+ html .green-button{height:21px; line-height:21px; padding:0px;}
.button, .button:hover, .green-button, .green-button:hover{
	filter: none !important; 
	}
#nav .button-publish, .button, .green-button{
	filter: none !important;
	background:url(../images/green-btn-spr.png) 0 0 repeat-x;
	outline:none;
	}
#nav .button-publish:hover, .button:hover, .green-button:hover{
	filter: none !important;
	background-position:0 -21px !important;
	}
#nav .button-publish:active, .button:active, .green-button:active{
	filter: none !important;
	background-position:0 -42px !important;
	}
#nav .menu li.active a{
	background:#0C82C9 url(../images/blue-gr.png) 0 0 repeat-x;
	}
	
.button.big-button{
	background:#18b210 url(../images/big-green-btn.png) 0 0 repeat-x;
	}
.button.big-button:hover{
	background-position:0 -30px !important;
	}
.button.big-button:active{
	background-position:0 -60px !important;
	}